{% extends 'base.html' %}

{% block container %}
<main>
    <section id="catLeft">
        {% for category in categories %}
      		{% if category['id'] == selectedCategory %}
				<p class="selectedCategory">{{ category['name'] }}</p>
			{% else %}
                <p class="notSelectedCategory"><a href="{{ url_for('category', categoryId=category['id']) }}">{{ category['name'] }}</a></p>
			{% endif %}
		{% endfor %}

    </section>
    <section id="catRight">
        {% for book in books %} 
                <div class='book'>
                    <div><img src="{{ book[6] }}" alt={{ book[2] }}"/></div>
                    <div class='bookDetailBox'>
                        <p class='bookTitle'>{{ book[2] }}</p>
                        <p class='bookDetail'>by {{ book[3] }}</p>
                        <p class='bookDetail'>ISBN: {{ book[4] }}</p>
                        <p class='bookPrice'>${{ book[5] }}</p>
                            <a class='actionButton' href='#'>Add to cart</a>
                            {% if book[7] == 1 %}
                                <a class='actionButton' href='#'>Read Now</a>
                            {% endif %}
                    </div>
                </div>
		{% endfor %}

    </section>
</main>
{% endblock %}

